h1 {
    background-color: rgb(108, 124, 158);
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1567254695449-82d119c7c2b0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}


button {
    background: none;
    color: rgb(11, 16, 31);
    border: 2px solid;
    padding: 1em 2em ;
    transition: all 0.25s;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);

}